<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.reward.mapper.RewardClaimLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.reward.entity.RewardClaimLog">
            <result column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="reward_id" property="rewardId"/>
            <result column="points_used" property="pointsUsed"/>
            <result column="money_used" property="moneyUsed"/>
            <result column="status" property="status"/>
            <result column="note" property="note"/>
            <result column="created_at" property="createdAt"/>
            <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, reward_id, points_used, money_used, status, note, created_at, updated_at
    </sql>

    <sql id="commonConditionSQL">
        <where>
            reward_claim_log.is_delete = 0
                <if test="id != '' and id != null">
                    and reward_claim_log.id = #{id}
                </if>
                <if test="userId != '' and userId != null">
                    and reward_claim_log.user_id = #{userId}
                </if>
                <if test="rewardId != '' and rewardId != null">
                    and reward_claim_log.reward_id = #{rewardId}
                </if>
                <if test="pointsUsed != '' and pointsUsed != null">
                    and reward_claim_log.points_used = #{pointsUsed}
                </if>
                <if test="moneyUsed != '' and moneyUsed != null">
                    and reward_claim_log.money_used = #{moneyUsed}
                </if>
                <if test="status != '' and status != null">
                    and reward_claim_log.status = #{status}
                </if>
                <if test="note != '' and note != null">
                    and reward_claim_log.note = #{note}
                </if>
                <if test="createdAt != '' and createdAt != null">
                    and reward_claim_log.created_at = #{createdAt}
                </if>
                <if test="updatedAt != '' and updatedAt != null">
                    and reward_claim_log.updated_at = #{updatedAt}
                </if>
        </where>
    </sql>

    <select id="getRewardClaimLogListByColList" resultType="com.npc.common.modular.reward.entity.RewardClaimLog">
        select
        <include refid="Base_Column_List"/>
        from reward_claim_log
        <where>
            reward_claim_log.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

</mapper>
