<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.chat.mapper.ChatBuddyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.chat.entity.ChatBuddy">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="base64_icon" property="base64Icon"/>
            <result column="has_contact" property="hasContact"/>
            <result column="gender" property="gender"/>
            <result column="tags" property="tags"/>
            <result column="intimacy_level" property="intimacyLevel"/>
            <result column="gregorian_birthday" property="gregorianBirthday"/>
            <result column="lunar_birthday" property="lunarBirthday"/>
            <result column="notes" property="notes"/>
            <result column="sort" property="sort"/>
            <result column="bio" property="bio"/>
            <result column="avatar" property="avatar"/>
            <result column="photos" property="photos"/>
            <result column="favorite" property="favorite"/>
            <result column="disposition" property="disposition"/>
            <result column="type_ids" property="relation"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, name, base64_icon, has_contact, gender, tags, intimacy_level, gregorian_birthday, lunar_birthday, notes, sort, bio, avatar, photos, favorite, disposition
    </sql>
    <sql id="Tcb_Base_Column_List">
            tcb.id, tcb.name, tcb.base64_icon, tcb.has_contact, tcb.gender, tcb.tags, tcb.intimacy_level, tcb.gregorian_birthday, tcb.lunar_birthday, tcb.notes, tcb.sort, tcb.bio, tcb.avatar, tcb.photos, tcb.favorite, tcb.disposition
    </sql>
    <sql id="commonConditionSQL">
        <where>
            t_chat_buddy.is_delete = 0
                <if test="id != '' and id != null">
                    and t_chat_buddy.id = #{id}
                </if>
                <if test="name != '' and name != null">
                    and t_chat_buddy.name = #{name}
                </if>
                <if test="base64Icon != '' and base64Icon != null">
                    and t_chat_buddy.base64_icon = #{base64Icon}
                </if>
                <if test="hasContact != '' and hasContact != null">
                    and t_chat_buddy.has_contact = #{hasContact}
                </if>
                <if test="gender != '' and gender != null">
                    and t_chat_buddy.gender = #{gender}
                </if>
                <if test="tags != '' and tags != null">
                    and t_chat_buddy.tags = #{tags}
                </if>
                <if test="intimacyLevel != '' and intimacyLevel != null">
                    and t_chat_buddy.intimacy_level = #{intimacyLevel}
                </if>
                <if test="gregorianBirthday != '' and gregorianBirthday != null">
                    and t_chat_buddy.gregorian_birthday = #{gregorianBirthday}
                </if>
                <if test="lunarBirthday != '' and lunarBirthday != null">
                    and t_chat_buddy.lunar_birthday = #{lunarBirthday}
                </if>
                <if test="notes != '' and notes != null">
                    and t_chat_buddy.notes = #{notes}
                </if>
                <if test="sort != '' and sort != null">
                    and t_chat_buddy.sort = #{sort}
                </if>
                <if test="bio != '' and bio != null">
                    and t_chat_buddy.bio = #{bio}
                </if>
                <if test="avatar != '' and avatar != null">
                    and t_chat_buddy.avatar = #{avatar}
                </if>
                <if test="photos != '' and photos != null">
                    and t_chat_buddy.photos = #{photos}
                </if>
                <if test="favorite != '' and favorite != null">
                    and t_chat_buddy.favorite = #{favorite}
                </if>
                <if test="disposition != '' and disposition != null">
                    and t_chat_buddy.disposition = #{disposition}
                </if>
        </where>
    </sql>

    <select id="getChatBuddyListByColList" resultType="com.npc.common.modular.chat.entity.ChatBuddy">
        select
        <include refid="Base_Column_List"/>
        from t_chat_buddy
        <where>
            t_chat_buddy.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>
    <select id="getList" resultMap="BaseResultMap">
        select
            GROUP_CONCAT(tcbr.type_ids) as type_ids,
            <include refid="Tcb_Base_Column_List"/>
        from t_chat_buddy tcb
        LEFT JOIN t_chat_buddy_relations tcbr ON tcbr.to_id = tcb.id
        <where>
            <if test="dto.id != '' and dto.id != null">
                and tcb.id = #{dto.id}
            </if>
            <if test="dto.name != '' and dto.name != null">
                and tcb.name like CONCAT('%', #{dto.name}, '%')
            </if>
            <if test="dto.hasContact != null and dto.hasContact">
                and coalesce(tcb.has_contact, 1) = #{dto.hasContact}
            </if>
            <if test="dto.hasContact != null and dto.hasContact == false">
                and tcb.has_contact = #{dto.hasContact}
            </if>
            <if test="dto.gender != '' and dto.gender != null">
                and tcb.gender = #{dto.gender}
            </if>
            <if test="dto.tags != '' and dto.tags != null">
                and tcb.tags = #{dto.tags}
            </if>
            <if test="dto.intimacyLevel != '' and dto.intimacyLevel != null">
                and tcb.intimacy_level = #{dto.intimacyLevel}
            </if>
            <if test="dto.notes != '' and dto.notes != null">
                and tcb.notes like CONCAT('%', #{dto.notes}, '%')
            </if>
            <if test="dto.sort != '' and dto.sort != null">
                and tcb.sort = #{dto.sort}
            </if>
        </where>
        group by tcb.id
        order by tcb.sort
    </select>
    <select id="getListCount" resultType="int">
    select count(*) from (
    select tcb.id
    from t_chat_buddy tcb
    LEFT JOIN t_chat_buddy_relations tcbr ON tcbr.to_id = tcb.id
    <where>
        <if test="dto.id != '' and dto.id != null">
            and tcb.id = #{dto.id}
        </if>
        <if test="dto.name != '' and dto.name != null">
            and tcb.name like CONCAT('%', #{dto.name}, '%')
        </if>
        <if test="dto.hasContact != null and dto.hasContact">
            and coalesce(tcb.has_contact, 1) = #{dto.hasContact}
        </if>
        <if test="dto.hasContact != null and dto.hasContact == false">
            and tcb.has_contact = #{dto.hasContact}
        </if>
        <if test="dto.gender != '' and dto.gender != null">
            and tcb.gender = #{dto.gender}
        </if>
        <if test="dto.tags != '' and dto.tags != null">
            and tcb.tags = #{dto.tags}
        </if>
        <if test="dto.intimacyLevel != '' and dto.intimacyLevel != null">
            and tcb.intimacy_level = #{dto.intimacyLevel}
        </if>
        <if test="dto.notes != '' and dto.notes != null">
            and tcb.notes like CONCAT('%', #{dto.notes}, '%')
        </if>
        <if test="dto.sort != '' and dto.sort != null">
            and tcb.sort = #{dto.sort}
        </if>
    </where>
    group by tcb.id) tmp_count
    </select>
    <select id="getBirthdayList" resultType="com.npc.common.modular.holiday.vo.CalendarEventVO">
        SELECT
            CONCAT(name, '生日') AS title,
            CASE
            WHEN CHAR_LENGTH(gregorian_birthday) = 5 THEN
                CONCAT(#{queryYear}, '-', gregorian_birthday)
            ELSE
                CONCAT(#{queryYear}, SUBSTRING(gregorian_birthday, 5)) END AS `date`,
            "gregorian" AS dateType,
            "birthday" AS eventType
        FROM t_chat_buddy
        WHERE (has_contact IS NULL OR has_contact != 0)
          AND gregorian_birthday IS NOT NULL
          AND  (
          (CHAR_LENGTH(gregorian_birthday) = 5 AND
           DATE(CONCAT(#{queryYear}, '-', gregorian_birthday)) BETWEEN #{startDate} AND #{endDate})
          OR
          (CHAR_LENGTH(gregorian_birthday) > 5 AND
           DATE(CONCAT(#{queryYear}, SUBSTRING(gregorian_birthday, 5))) BETWEEN #{startDate} AND #{endDate})
      )
    </select>

</mapper>
