<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.chat.mapper.ChatTopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.chat.entity.ChatTopic">
            <result column="id" property="id"/>
            <result column="buddy_id" property="buddyId"/>
            <result column="topic" property="topic"/>
            <result column="tags" property="tags"/>
            <result column="notes" property="notes"/>
            <result column="used" property="used"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, buddy_id, topic, tags, notes, used
    </sql>

    <sql id="commonConditionSQL">
        <where>
            t_chat_topic.is_delete = 0
                <if test="id != '' and id != null">
                    and t_chat_topic.id = #{id}
                </if>
                <if test="buddyId != '' and buddyId != null">
                    and t_chat_topic.buddy_id = #{buddyId}
                </if>
                <if test="topic != '' and topic != null">
                    and t_chat_topic.topic = #{topic}
                </if>
                <if test="tags != '' and tags != null">
                    and t_chat_topic.tags = #{tags}
                </if>
                <if test="notes != '' and notes != null">
                    and t_chat_topic.notes = #{notes}
                </if>
                <if test="used != '' and used != null">
                    and t_chat_topic.used = #{used}
                </if>
        </where>
    </sql>

    <select id="getChatTopicListByColList" resultType="com.npc.common.modular.chat.entity.ChatTopic">
        select
        <include refid="Base_Column_List"/>
        from t_chat_topic
        <where>
            t_chat_topic.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

</mapper>
