<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.stock.mapper.StockMapper">

    <sql id="base_column_list">
        id, name, count, sale, version
    </sql>
    <select id="getStockById" parameterType="int" resultType="com.npc.common.modular.stock.model.result.StockResult">
        select
        <include refid="base_column_list"/>
        from t_stock
        where id = #{sid}
    </select>

</mapper>