<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.money.mapper.MoneyAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.money.entity.MoneyAccount">
            <result column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="account" property="account"/>
            <result column="account_name" property="accountName"/>
            <result column="savings" property="savings"/>
            <result column="debt" property="debt"/>
            <result column="status" property="status"/>
            <result column="created_at" property="createdAt"/>
            <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, user_id, account, account_name, savings, debt, status, created_at, updated_at
    </sql>

    <sql id="commonConditionSQL">
        <where>
            t_money_account.is_delete = 0
                <if test="id != '' and id != null">
                    and t_money_account.id = #{id}
                </if>
                <if test="userId != '' and userId != null">
                    and t_money_account.user_id = #{userId}
                </if>
                <if test="account != '' and account != null">
                    and t_money_account.account = #{account}
                </if>
                <if test="accountName != '' and accountName != null">
                    and t_money_account.account_name = #{accountName}
                </if>
                <if test="savings != '' and savings != null">
                    and t_money_account.savings = #{savings}
                </if>
                <if test="debt != '' and debt != null">
                    and t_money_account.debt = #{debt}
                </if>
                <if test="status != '' and status != null">
                    and t_money_account.status = #{status}
                </if>
                <if test="createdAt != '' and createdAt != null">
                    and t_money_account.created_at = #{createdAt}
                </if>
                <if test="updatedAt != '' and updatedAt != null">
                    and t_money_account.updated_at = #{updatedAt}
                </if>
        </where>
    </sql>

    <select id="getMoneyAccountListByColList" resultType="com.npc.common.modular.money.entity.MoneyAccount">
        select
        <include refid="Base_Column_List"/>
        from t_money_account
        <where>
            t_money_account.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

</mapper>
