<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.todoCompleted.mapper.TodoCompletedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
            <result column="id" property="id"/>
            <result column="todo_id" property="todoId"/>
            <result column="status" property="status"/>
            <result column="complete_num" property="completeNum"/>
            <result column="finish_time" property="finishTime"/>
            <result column="score" property="score"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, todo_id, status, complete_num, finish_time, score
    </sql>

    <sql id="commonConditionSQL">
        <where>
            t_todo_completed.is_delete = 0
                <if test="id != '' and id != null">
                    and t_todo_completed.id = #{id}
                </if>
                <if test="todoId != '' and todoId != null">
                    and t_todo_completed.todo_id = #{todoId}
                </if>
                <if test="status != '' and status != null">
                    and t_todo_completed.status = #{status}
                </if>
                <if test="finishTime != '' and finishTime != null">
                    and t_todo_completed.finish_time = #{finishTime}
                </if>
        </where>
    </sql>

    <select id="getTodoCompletedListByColList" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        <where>
            t_todo_completed.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

    <select id="getCompletedList" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE status = '2' and finish_time LIKE CONCAT(#{date},'%')
    </select>
    <select id="getCompletedListSEIn" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE status = '2' and finish_time &lt; #{endDate} and finish_time &gt; #{startDate}
        <if test="ids!= null and ids.size()>0">
            and todo_id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getCompletedListIn" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE status = '2'
            <if test="date!= null and date != ''">
                and finish_time LIKE CONCAT(#{date},'%')
            </if>
            <if test="dateEnd!= null and dateEnd != ''">
                and finish_time &lt;= #{dateEnd}
            </if>
          <if test="ids!= null and ids.size()>0">
              and todo_id in
              <foreach collection="ids" item="id" separator="," open="(" close=")">
                  #{id}
              </foreach>
          </if>
        order by finish_time desc
    </select>
    <select id="getLastCompletedList" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE (todo_id, finish_time) IN (
            SELECT todo_id, MAX(finish_time)
            FROM t_todo_completed
            WHERE status = '2'
            AND todo_id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
            GROUP BY todo_id
        )
    </select>
    <select id="getLastCompletedListPer"
            resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        SELECT id AS todoId, CONCAT(reach_date, ' 12:00:01') AS finishTime
        FROM (
            SELECT
                t.id,
                DATE(tc.finish_time) AS reach_date,
                ROW_NUMBER() OVER (
                    PARTITION BY t.id
                    ORDER BY DATE(tc.finish_time) DESC
                ) AS rn
            FROM t_todo t
            JOIN t_todo_completed tc ON tc.todo_id = t.id and tc.status = '2'
            WHERE t.id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
            GROUP BY
                t.id,
                DATE(tc.finish_time),
                t.recurrence_count
            HAVING SUM(tc.complete_num) >= t.recurrence_count
        ) x
        WHERE rn = 1
    </select>

</mapper>
