<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.todoCompleted.mapper.TodoCompletedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
            <result column="id" property="id"/>
            <result column="todo_id" property="todoId"/>
            <result column="status" property="status"/>
            <result column="finish_time" property="finishTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, todo_id, status, finish_time
    </sql>

    <sql id="commonConditionSQL">
        <where>
            t_todo_completed.is_delete = 0
                <if test="id != '' and id != null">
                    and t_todo_completed.id = #{id}
                </if>
                <if test="todoId != '' and todoId != null">
                    and t_todo_completed.todo_id = #{todoId}
                </if>
                <if test="status != '' and status != null">
                    and t_todo_completed.status = #{status}
                </if>
                <if test="finishTime != '' and finishTime != null">
                    and t_todo_completed.finish_time = #{finishTime}
                </if>
        </where>
    </sql>

    <select id="getTodoCompletedListByColList" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        <where>
            t_todo_completed.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

    <select id="getCompletedList" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE status = '2' and finish_time LIKE CONCAT(#{date},'%')
    </select>
    <select id="getCompletedListSE" resultType="com.npc.common.modular.todoCompleted.entity.TodoCompleted">
        select
        <include refid="Base_Column_List"/>
        from t_todo_completed
        WHERE status = '2' and finish_time &lt; #{endDate} and finish_time &gt; #{startDate}
    </select>

</mapper>
