<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.modular.quartzJob.mapper.QuartzJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.modular.quartzJob.entity.QuartzJob">
            <result column="id" property="id"/>
            <result column="cron" property="cron"/>
            <result column="job_name" property="jobName"/>
            <result column="status" property="status"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, cron, job_name, status, create_time, update_time
    </sql>

    <sql id="commonConditionSQL">
        <where>
                <if test="id != '' and id != null">
                    and t_quartz_job.id = #{id}
                </if>
                <if test="cron != '' and cron != null">
                    and t_quartz_job.cron = #{cron}
                </if>
                <if test="jobName != '' and jobName != null">
                    and t_quartz_job.job_name = #{jobName}
                </if>
                <if test="status != '' and status != null">
                    and t_quartz_job.status = #{status}
                </if>
                <if test="createTime != '' and createTime != null">
                    and t_quartz_job.create_time = #{createTime}
                </if>
                <if test="updateTime != '' and updateTime != null">
                    and t_quartz_job.update_time = #{updateTime}
                </if>
        </where>
    </sql>

    <select id="getQuartzJobListByColList" resultType="com.npc.common.modular.quartzJob.entity.QuartzJob">
        select
        <include refid="Base_Column_List"/>
        from t_quartz_job
        <where>
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

    <select id="getByJobName" resultType="com.npc.common.modular.quartzJob.entity.QuartzJob">
        select
        <include refid="Base_Column_List"/>
        from t_quartz_job
        <where>
            and job_name = #{jobName}
        </where>
    </select>

</mapper>
