<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.npc.common.todo.mapper.TodoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.npc.common.todo.entity.Todo">
            <result column="id" property="id"/>
            <result column="todo_name" property="todoName"/>
            <result column="type" property="type"/>
            <result column="tag" property="tag"/>
            <result column="remark" property="remark"/>
            <result column="status" property="status"/>
            <result column="quartz_id" property="quartzId"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, todo_name, type, tag, remark, status, quartz_id, start_time, end_time
    </sql>

    <sql id="commonConditionSQL">
        <where>
            t_todo.is_delete = 0
                <if test="id != '' and id != null">
                    and t_todo.id = #{id}
                </if>
                <if test="todoName != '' and todoName != null">
                    and t_todo.todo_name = #{todoName}
                </if>
                <if test="type != '' and type != null">
                    and t_todo.type = #{type}
                </if>
                <if test="tag != '' and tag != null">
                    and t_todo.tag = #{tag}
                </if>
                <if test="remark != '' and remark != null">
                    and t_todo.remark = #{remark}
                </if>
                <if test="status != '' and status != null">
                    and t_todo.status = #{status}
                </if>
                <if test="quartzId != '' and quartzId != null">
                    and t_todo.quartz_id = #{quartzId}
                </if>
                <if test="startTime != '' and startTime != null">
                    and t_todo.start_time = #{startTime}
                </if>
                <if test="endTime != '' and endTime != null">
                    and t_todo.end_time = #{endTime}
                </if>
        </where>
    </sql>

    <select id="getTodoListByColList" resultType="com.npc.common.todo.entity.Todo">
        select
        <include refid="Base_Column_List"/>
        from t_todo
        <where>
            t_todo.is_delete = 0
            and ${column} in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                ${id}
            </foreach>
        </where>
    </select>

</mapper>
